.global_nav{
    border-bottom:double 3px #5fa3d6;
  }
.concept {
    border-bottom: double 3px #5fa3d6;
}
.works{
    border-bottom: double 3px #5fa3d6;
}
.company{
  border-bottom: double 3px #5fa3d6;
}
.news{
  border-bottom: double 3px #5fa3d6;
}
.contact{
  border-bottom: double 3px #5fa3d6;
}